<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033569370946-le3rq86rqf6apqgpf1ab99852v7430jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033569370946-le3rq86rqf6apqgpf1ab99852v7430jh</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkjYwDRer3CezNAFdD9qpo3XFgD1mHuM</string>
	<key>GCM_SENDER_ID</key>
	<string>1033569370946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alwan.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-73aef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-73aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033569370946:ios:ef07652450b03fe16ebedb</string>
</dict>
</plist>